*{
    font-family: Poppins, sans-serif;
}

.merah {
    color: crimson
}

.pink {
    color: lightpink;
}

.hijau {
    color: green;
}

img{
    width: 30%;
}

.margin-bottom{
    margin-bottom: 4rem;
}

.sold {
    filter: grayscale(100%);
}